.LampAndLabel .lamp,
.LampAndLabel .label {
  padding: 0.25em;
}

@keyframes LampAndLabelBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.LampAndLabel .blink {
    animation: LampAndLabelBlink 2s step-end infinite;
}

