<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>flex test</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <header>
    header
  </header>
  <main>
    <ul>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
      <li>main</li>
    </ul>
  </main>
  <footer>
    footer
  </footer>
</body>
</html>
