<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>flex, grid, justify-content</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <h1>折り返しレイアウト実験</h1>
        <section class="flex-left-example">
            <h3><code>display: flex;</code>を使用した折り返し左寄せ</h3>
            <div class="flex-left-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
        <section class="flex-center-example">
            <h2><code>display: flex;</code>を使用した折り返し中央寄せ</h2>
            <div class="flex-center-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
        <section class="flex-right-example">
            <h2><code>display: flex;</code>を使用した折り返し右寄せ</h2>
            <div class="flex-right-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
        <section class="flex-grow-example">
            <h3><code>display: flex;</code> &amp; <code>flex-grow: 1;</code></h3>
            <div class="flex-grow-container">
                <div class="grow-item">grow-item1</div>
                <div class="grow-item">grow-item2</div>
                <div class="grow-item">grow-item3</div>
                <div class="grow-item">grow-item4</div>
                <div class="grow-item">grow-item5</div>
                <div class="grow-item">grow-item6</div>
                <div class="grow-item">grow-item7</div>
                <div class="grow-item">grow-item8</div>
                <div class="grow-item">grow-item9</div>
                <div class="grow-item">grow-item10</div>
                <div class="grow-item">grow-item11</div>
                <div class="grow-item">grow-item12</div>
                <div class="grow-item">grow-item13</div>
            </div>
        </section>
        <section class="grid-left-example">
            <h2><code>display: grid;</code>を使用した折り返し左寄せ</h2>
            <div class="grid-left-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
        <section class="grid-center-example">
            <h2><code>display: grid;</code>を使用した折り返し中央寄せ</h2>
            <div class="grid-center-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
        <section class="grid-right-example">
            <h2><code>display: grid;</code>を使用した折り返し右寄せ</h2>
            <div class="grid-right-container">
                <div class="item">item1</div>
                <div class="item">item2</div>
                <div class="item">item3</div>
                <div class="item">item4</div>
                <div class="item">item5</div>
                <div class="item">item6</div>
                <div class="item">item7</div>
                <div class="item">item8</div>
                <div class="item">item9</div>
                <div class="item">item10</div>
                <div class="item">item11</div>
                <div class="item">item12</div>
                <div class="item">item13</div>
            </div>
        </section>
    </body>
</html>

