<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= account.role_id %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= account.expiration_date %>
  </p>

</div>
